/* global styles and imports */

/* imports */
@import './files.css';
@import './form.css';
@import './fonts.css';


/* global styles */
:root {
  --PRIMARY: #2F7FEE;
  --LIGHT: #FFFFFF;
  --DARK: #1E1E1E;
  --LIST: #FBFBFB;
  --GRAY: #C8C8C8;
}

body {
  background: var(--PRIMARY);
  font-size: 18px;
  color: var(--DARK);
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

#file-loader {
  margin: 2rem;
  background-color: var(--LIGHT);
  border-radius: 1rem;
  overflow: hidden;
  height: 400px;

  & > .flex {
    height: 100%;

    &>* {
      width: 50%;
      padding: 2rem;
    }
  }
}